:root{
    --primary: rgb(207,99,10)
}

.navbar-nav {
    color: black;
    outline: none;
}

.laranja:hover{
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
}

.laranja{
    padding: 10px 0;
    width: 85px;
    height: 45px;
}

.Texto{
    position: relative;
    bottom: 700px;
    left: 150px;
}

#cor-laranja {
    background-color: var(--primary);
}
